---
---
<!doctype html>
<head>
<meta charset="UTF-8">
<title>subtech :: {{ page.title }}</title>
<meta name="viewport" content="initial-scale=1.0" />
<link rel="stylesheet" href="/assets/css/site.css" type="text/css" />
<link rel="stylesheet" href="/assets/css/hatena.css" type="text/css" />
<link rel="canonical" href="{{ site.base-url }}{{ page.url }}" />
{% seo %}

</head>
<body>
	<div class="header">
		<h1><a href="/">subtech サブテク</a></h1>
	</div>
	<div class="body">
		<div id="content">
			<div class="entry">
			{{ content }}
      </div>
		</div>
	</div>
</body>
